
@font-face {
    font-family: 'CourierPrime-Bold';
    src: url('./font/CourierPrime-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Overpass-Regular';
    src: url('./font/Overpass-SemiBold.ttf') format('truetype');
  }
  
  body{
    background-color: rgb(226, 226, 226);
  }


  .font-Overpass {
    font-family: 'Overpass-Regular', sans-serif;
  }

  .font-courier {
    font-family: 'CourierPrime-Bold', sans-serif;
  }
  

  

